body, html{
  margin:0;
}
.hr{
  border-top: 2px solid #b4b4b4!important;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom:1rem;
}
.card{
  min-height: 100%
}

.box_shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.page-header {
  background-image:url("pic/faculty_IT/faculty_IT_header_bla.jpg");
	background-repeat:no-repeat;
  position: relative;
  background-size: cover;
  background-position:50% 36%;
}
.page-caption {
  padding-top: 170px;
  padding-bottom: 174px;
}
.page-title { font-size: 46px;
  line-height: 1;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box_margin{
  margin-bottom: 1rem!important;
}

.btn-img {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color:#000000;

}

.btn-img img {
    display: block;
}

.btn-img:hover .img-wrap {
    background-color:#000000;

    transition:0.4s;
    transition-timing-function:ease;
}

.btn-img:hover img {
    opacity: 0.5;
}


.degreePath{
  width:100%;
}

.name_title{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 3rem;
  padding-left: 1rem;
  margin-left: -2rem;
  margin-bottom: 0;
  background: linear-gradient(90deg, #5eeebb, #51aafa);
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.team_card{
  padding: 1rem 1rem;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  border-radius: .25rem;
  min-width: 100%;
}

.padding {
  padding-bottom:2rem;
}


/*Fixing background image*/
figure {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('pic/faculty_IT/IT_student_dicussion_bla.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

footer p{
  float:right;
}

.footer{
  width: 100%;
  position: fixed;
  padding-right: 0;
}

.imgad{width:420px; height:60px; text-align:center;}

@media (max-width:450px)
{
	.imgad{width:100%;height:60px;}
}
